<header>
    <div class="header-container">
        <h1>Weather App</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/forecast">10-Day Forecast</a></li>
            </ul>
        </nav>
    </div>
</header>
